@import "tailwindcss";

body {
    margin: 0;
}

/* Craftsmanship Modifiers */
.ruined { @apply text-white; }
.damaged { @apply text-amber-950; }
.workable { @apply text-green-500; }
.refined { @apply text-blue-700; }
.masterful { @apply text-yellow-700; }
.mythic { @apply text-red-600; }

/*Non-Craftable Modifiers */
.relic { @apply text-slate-400; }
.divine { @apply text-amber-100; }
.ancient { @apply text-yellow-500; }
.primordial { @apply text-purple-600; }
.ascendant { @apply text-sky-700; }
.godforged { @apply text-green-800; }

/* buff stuff */
.buff { @apply text-green-500; }
.debuff { @apply text-red-500; }

/* XP pseudoicon */
.xp-icon { @apply inline-block select-none whitespace-nowrap font-mono text-xl font-bold tracking-tight; }

.xp { @apply italic text-white; }

.ui-overlay {
    pointer-events: none;
}
.ui-overlay .interactive {
    pointer-events: auto;
}

.ability-button {
    @apply bg-gray-800 text-white px-6 py-2 rounded-lg w-16 h-16 border-4 border-gray-400 hover:bg-gray-700 relative;
}

.ability-icon {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-2xl;
}

.keybind-indicator {
    @apply absolute bottom-1 right-1 text-sm;
}

.sidebar-button {
    @apply bg-gray-800 text-white px-2 py-2 rounded-lg w-24 hover:bg-gray-700;
}

.ui-panel {
    @apply absolute bg-gray-900 text-white p-3 rounded-lg ;
}

.close-button {
    @apply absolute top-[-10px] right-[-5px] text-3xl cursor-pointer
}